
@{
    ViewBag.Title = "Index";
}


<div class="container" style="background-color:white;padding: 21px;box-shadow: 2px 2px 21px gray;border-left: 4px solid #008080">
    <h2>All the best Buddy!!! </h2>
    <h4>Wait for results....</h4>
</div>